# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*-debug.log

# local env files
.env*.local

# vercel
.vercel
.openapi-gen

# firebase
.genkit
.firestore-export

# typescript
*.tsbuildinfo
next-env.d.ts

certificates
public/swEnv.js

# AI
.agents
openspec
.opencode/package-lock.json
opencode.json
docs/codemie/analytics/codemie-analytics-07a3fcaa-3149-48fd-80e7-bee9fc2324aa.json
docs/codemie/analytics/codemie-analytics-carlos-arboleda-epam-com-03ab80f9-f64a-44b1-94c7-16bb880ebb9a.json
docs/codemie/analytics/codemie-analytics-carlos-arboleda-epam-com-6b4ce7dc-3e30-4c00-8f5b-aff5bf00f777.json
docs/codemie/analytics/codemie-analytics-carlos-arboleda-epam-com-19d480d2-fe77-47e0-8a09-7f74561f58e2.json
docs/codemie/analytics/codemie-analytics-carlos-arboleda-epam-com-78697990-0992-4b34-8dff-f293c4856a46.json
docs/codemie/analytics/codemie-analytics-carlos-arboleda-epam-com-cd3fc0d8-4fbe-4126-b0e8-f949854e0498.json
docs/codemie/analytics/codemie-analytics-carlos-arboleda-epam-com-dd516a3a-0d2d-421e-8b16-1b0315698b0b.json
docs/codemie/analytics/codemie-analytics-carlos-arboleda-epam-com-e03ffdbc-2f88-4ca7-8092-69dfd07ff86a.json
